/* Common */
body {
  font-family: Roboto, sans-serif;
  background-color: #f8f8f8;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img.img-wrap {
  margin-top: 20px;
  height: 33px;
}

p.participant-wrap {
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, .6);
}

a.nav-wrap {
  font-weight: 700;
  color: rgba(0, 0, 0, .6);
  text-decoration: underline;
}

.content-box.mt-0 {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
  padding-top: 40px;
  padding-bottom: 40px;
}

.button {
  display: inline-block;
  width: 100%;
  font: 600 1rem/1.5rem SlidoSansFont, helvetica, arial, sans-serif;
  padding: 0.9375rem 2rem;
  background: #085dad;
  border: 0.0625rem solid #085dad;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
}

.button:hover {
  background: #0a3e6f;
  border-color: #0a3e6f;
}

.button--green {
  background: #39ac37;
  border-color: #39ac37;
}

.button--green:hover {
  background: #000;
  border-color: #000;
}

.button--wide {
  width: 100%;
}

.button--white {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.button--white:hover {
  color: #fff;
}

.button--hover-green:hover {
  background: #39ac37;
  border-color: #39ac37;
}

.button--disableable:disabled,
.button--disableable[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.button--disableable:disabled:hover,
.button--disableable[disabled]:hover {
  background: #39ac37;
  border-color: #39ac37;
}

.button--secondary {
  background: 0 0;
  border-color: #000;
  color: #000;
  font-weight: 500;
}

.button--secondary:hover {
  background: 0 0;
  border-color: #39ac37;
  color: #39ac37;
}

.button--orange {
  background: #f26d21;
  border-color: #f26d21;
  color: #fff;
}

.button--orange:hover {
  background: #da621e;
  border-color: #da621e;
}

.button--tertiary {
  font-weight: 700;
  padding: 0;
  border: none;
  background: 0 0;
  color: #39ac37;
  text-decoration: underline;
  width: initial;
}

.button--tertiary:hover {
  background: 0 0;
  text-decoration: none;
}

.button--tertiary.button--white {
  color: #fff;
}

@media (min-width: 48rem) {
  .button {
    width: auto;
  }
}

@media (min-width: 48rem) {
  .button--small {
    padding-top: 0.5175rem;
    padding-bottom: 0.6875rem;
  }
}

.srv-validation-message {
  font-size: 13px;
  color: #bd0e0e;
  font-style: italic;
}

.btn-site-default {
	color: #fff;
	background: #085dad;
	border: 0.0625rem solid #085dad;
}

.btn-site-default:hover {
	color: #fff;
	background: #0a3e6f;
	border-color: #0a3e6f;
}

.btn-rounded {
  border-radius: 2.25rem;
  border-radius: 40px;
}

/* Common End */

/* Sign Up Start */
input.form-bind.wrap {
  margin-top: -15px;
}

/* Sign Up End */

/* Participant */
input.form-bind-participant {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid darkgrey;
  display: block;
  width: 100%;
  outline: none;
  font-size: 14px;
  padding: 6px;
  font-weight: 500;
}

input.form-bind-participant.wrap {
  margin-top: -15px;
}

.content-box-wrap {
  min-width: 70%;
}

img.img-wrap.icon-wrap {
  height: 16px;
}

a.nav-link.wrap:hover {
  background: gainsboro;
  color: black;
}

a.nav-link.wrap {
  color: dimgrey;
  font-size: 13px;
}

input.form-bind-participant.wrap {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
  max-width: 400px;
  margin: 0 auto;
  border-radius: 36px;
  padding: 15px;
  background: white;
  font-size: 18px;
}

.content-box-participant-wrap {
  margin-top: 290px;
}

img.arrow-wrap {
  margin-right: 2px;
  position: relative;
  margin: -69px 0px 16px 823px;
  width: 31px;
}

input.form-bind-participant.wrap:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .15);
}

span.code-wrap {
  text-align: center;
  font-size: 10px;
  color: gray;
}

a.navuse {
  text-decoration: underline;
  color: gray;
  font-weight: 700;
}

a.navuse:hover {
  text-decoration: underline;
  color: black;
  font-weight: 700;
}

.privacy.text-center {
  margin: 251px;
  font-size: 10px;
}

.text-orange {
  color: #f26d21;
}

.text-orange:hover {
  color: #c24b07;
}

/* Participant End */