 /* Login Start */
 p.content-header-wrap {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    color: rgba(0,0,0,.75);
    padding: 0 10px;
    margin-bottom: -45px;
    line-height: 32px;
    text-align: center;
}
p.content-account-wrap {
    font-size: 14px;
    text-align: center;
    margin-top: -27px;
}
input.form-bind {
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid darkgrey;
    display: block;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding: 6px;
    font-weight: 500;
}
.content-body {
    margin-top: 53px;
}
input.form-bind.wrap {
    margin-top: -15px;
}
.content-box-wrap {
    min-width: 70%;
}
.form-opportunity {
    margin: 25px 0px -6px 0px;
}
span.remeber-wrap {
    font-size: 15px;
    color: gray;
    margin-right: -43px;
}
.remember {
    font-size: 15px;
    color: grey;
    margin-left: -15px;
}


/* Login End */