
/* Header start */
.header {
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: absolute;
	width: 100%;
	z-index: 3;
	top: 0;
	left: 0;
}
nav.navbar.navbar-expand-lg.wrap {
}
img.nav-wrap-image {
    height: 30px;
}

ul.navbar-nav.wrap.mr-auto {
    margin-left: 242px;
}

li.nav-item.wrap {
    margin-left: 25px;
    line-height: 40px;
}
li.nav-item.login-wrap {
    margin-left: 80px;
    line-height: 40px;
}
a.nav-link.wrapnav {
    font-size: 16px;
    font-family: monospace;
}
a.nav-link.wrapnav.-signup:hover {
    background: #000;
    border-color: #000;
    color: white;
    text-decoration: none;
}
a.nav-link.wrapnav {
    color: #b84c0d
}
a.nav-link.wrapnav:hover {
    color: #000;
    text-decoration: none;
}
a.nav-link.wrap.-blue:hover {
    text-decoration: none;
}
label.language {
    margin-left: 183px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 6px;
}

/* Header End */